@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font: 10px/1.4 'Open Sans', sans-serif;
    color: #495057;
    background-color: #f1f3f5;
}

output {
    display: block;
    margin-top: 10px;
    padding-left: 15px;
    white-space: pre-wrap;
    font: 14px/1.5 'Droid Sans Mono', sans-serif;
}

.error {
    background-color: #ffefef;
}

.warning {
    background-color: #fffeef;
}

.hint {
    background-color: #effcff;
}

.ast {
    border-left: 5px solid #adb5bd;
    background-color: #e9ecef;
}

.hwt-container {
    background-color: #f8f9fa;
}

.hwt-content {
    width: 760px;
    height: 100px;
    padding: 20px;
    border: 1px solid #adb5bd;
    color: inherit;
    font: 18px/25px 'Droid Sans Mono', sans-serif;
}

.hwt-input:focus {
    outline-color: #495057;
}

.hwt-content mark {
    border-radius: 3px;
    background-color: #d0bfff;
    box-shadow: 0 0 0 1px #fff;
}

.alert {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

alerttitle {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p,
.alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-hint {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-hint hr {
    border-top-color: #a6e1ec;
}

.alert-hint .alert-link {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-error hr {
    border-top-color: #e4b9c0;
}

.alert-error .alert-link {
    color: #843534;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}

.alert .sign {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    width: 25px;
    display: inline-block;
}

.alert-success {
    background-color: #dbf6d3;
    border-color: #aed4a5;
    color: #569745;
}

.alert-hint {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
}

.alert-error {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
}

.alert-white {
    background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
}

.alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
}

.alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}

.alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon i {
    font-size: 20px;
    color: #FFF;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.alert-white.alert-error .icon,
.alert-white.alert-error .icon:after {
    border-color: #ca452e;
    background: #da4932;
}

.alert-white.alert-hint .icon,
.alert-white.alert-hint .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
}

.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
}

.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
}